@media only screen and (max-width: 800px) {
    .header {
       background-color: lightblue !important;
       display: flex !important;
       flex-wrap: wrap;
       color: black !important;
    }
}
.navbar-brand img{
    height: 50px;
    width: 60px;
    backGround-color: #a09c9c;
    border-radius: 40% !important;
}
.nav-item .nav-link {
    color: #c58c0f !important;
    font-size: 16px;
    font-weight: 700;
    background-color: #694545;
    margin-right: 10px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
}
.nav-item .nav-link:hover {
    background-color: #c58c0f;
    color: #694545!important;
}
.header{
    padding: 50px 0;
}